# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
.venv/

# Env / secrets
.env
*.env

# Logs
*.log
logs/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/
