# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
.venv/

# Env / secrets
.env
*.env

# Cloudflare
*.token
cloudflared.token
*.json
.cloudflared/

# Logs
*.log
logs/

# Runtime config
config/video.json
*.pid
*.fifo

# OS / Editor
.DS_Store
.vscode/
.idea/

# SSH
.ssh/

# System
*.swp
*~

# Build / dist
build/
dist/
*.egg-info/
